.vscode
ent/
.env
*.py[cod]
*.pyc
*.sqlite3
.env
__pycache__
db
.DS_Store
staticfiles/.DS_Store
staticfiles/admin/
staticfiles/rest_framework/
staticfiles/rest_framework_swagger/
media/
mediafiles/*
*.json
*.zip
*.xlsx
scripts/*
loadata/*
*.log
__pycache__
*.enc
.coverage
htmlcov